.card {
    width: 200px;
    height: 400px;
    background-color: rgb(81, 81, 81);
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    border-radius: 5vh;
}

img {
    width: 12vh;
    height: 20vh;
    border-radius: 1vh;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}