html,
body {
    background-color: #111;
    display: flex;
    justify-content: center;
    justify-items: center;
}

h1 {
    text-align: center;
    font: normal 30pt Arial;
    color: #fff;
}

h2 {
    text-align: center;
    color: #fff;
}

img {
    width: 100vh;
    border-radius: 5vh;
}

img:hover {
    width: 110vh;
}

section ul {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 900px) {
    img {
        width: 30vh;
        border-radius: 5vh;
    }
}