html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: black;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    align-items: center;
    color: #fff;
    font-size: 30px;
}

.cabecalho,
.nome {
    margin: 10px;
}

.cabecalho {
    cursor: pointer;
    z-index: 99;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

h1 {
    font: normal 50pt Arial;
    color: #fff;
}

h2 {
    color: #fff;
}

.portfolio,
.curriculo {
    text-decoration: none;
    color: #fff;
    width: 30vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15pt;
    border-radius: 3vh;
    margin-bottom: 20px;
}

.portfolio {
    background-color: rgb(138, 43, 226);
}

.portfolio:hover {
    background-color: rgb(118, 9, 220);
}

.curriculo {
    background-color: #525252;
    margin-right: 10px;
}

.curriculo:hover {
    background-color: #2c2c2c;
}

.botoes {
    display: flex;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

.menu li {
    list-style: none;
}

.menu li:hover {
    transform: scale(1.2);
}

.menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: #2c2c2c;
    z-index: 99;
    position: absolute;
    top: 0.1vh;
    left: 90%;
    height: 100%;
    display: none;
    padding-top: 10px;
    transition: all 0.5s;
}

.container-contato {
    padding: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-contato div {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border-radius: 5vh;
    width: 500px;
}

.container-contato div img {
    width: 200px;
    border-radius: 50%;
}

.container-contato div a {
    background-color: rgb(138, 43, 226);
    text-decoration: none;
    color: #fff;
    padding: 3vh;
    width: 70px;
    font-size: medium;
    text-align: center;
    align-items: center;
    border-radius: 4vh;
}

.container-contato div a:hover {
    background-color: rgb(118, 9, 220);
}

@media screen and (max-width: 600px) {
    .botoes {
        transform: scale(0.7);
    }
    h2 {
        text-align: center;
    }
    h1 {
        font-size: 200%;
        text-align: center;
    }
    .container {
        transform: scale(0.7);
        margin-top: 20%;
    }
    .menu {
        position: absolute;
        left: 35%;
        height: 20%;
        border-radius: 0 0 5vh 5vh;
        padding-top: 0;
        background-color: #2c2c2c91;
    }
}