html,
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: black;
}

body .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font: normal 50pt Arial;
    color: #fff;
}

h2 {
    color: #fff;
}

.buttom {
    text-decoration: none;
    color: #fff;
    background-color: blueviolet;
    width: 30vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30pt;
    border-radius: 3vh;
    margin-bottom: 20px;
}

.buttom:hover {
    background-color: rgb(118, 9, 220);
}